<% if user_signed_in? %>
  <%# 変数recipeは、renderされた時に渡された@recipeが格納されている %>
  <% if !Favorite.exists?(user_id: current_user.id, recipe_id: recipe.id) %>
    <span class="star-icon1">☆<%= recipe.favorites.count %></span>
    <%= link_to recipe_favorites_path(recipe.id), method: :post, remote: true, class: "favorite-btn" do %>
      <% if current_user.id != recipe.user_id %>
        お気に入り登録する
      <% end %>
    <% end %>
  <% else %>
    <%= link_to recipe_favorite_path(recipe_id: recipe.id, id: recipe.favorites[0].id), method: :delete, remote: true, class:"favorite-btn" do %>
      <i class="fas fa-star star-icon2">☆</i>
    <% end %>
    <span class="star-count2"><%= recipe.favorites.count %></span>
  <% end %> 
<% else %>
  <i class="fas fa-star star-icon2">☆</i>
  <span class="star-count2"><%= recipe.favorites.count %></span>
<% end %>