<div class ="main-content">
  <div class="left-content">
    <div class="highlight-tags">
      <div class="highright-tags-title">
        人気のレシピタグ一覧
      </div>
      <div class="highright-tags-contents">
        <p>複雑な検索</p>
        <%= search_form_for @search, url: recipes_path do |f| %>
          <%= f.text_field :title_cont, placeholder: "レシピ名で検索" %>
          <%= f.label :category_id_eq, "カテゴリ"%>
          <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: "指定なし" %>
          <%= f.collection_check_boxes :nutrients_id_eq_any, Nutrient.all, :id, :nutrient_name do |n| %>
            <% n.label { n.check_box + n.text} %>
          <% end %>
          <%= f.select( :sorts, {"並び替え": "id desc", "投稿が新しい順": "id desc", "投稿が古い順": "id asc"} ) %>
          <%= f.submit ("検索する") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="center-content">
    <div class="highright-recipes-title">
      人気レシピ一覧
    </div>
    <div class="highlight-recipes-content">
      <ul class="recipe-lists jscroll">
        <% @search_recipes.each do |r| %>
          <li>
            <div class="lists">
              <%# list要素をリンク化%>
              <%= link_to recipe_path(r.id),class: "recipe-list" do %>
                <div class="recipe-list-contents">
                  <div class="recipe-text-contents">
                    <h3 class="recipe-title">
                      <%= r.title %>
                    </h3>
                    <span class="recipe-user">
                      <%= r.user.nickname %>
                    </span>
                    <p>
                      <%= r.content %>
                    </p>
                  </div>
                  <%= image_tag r.images[0], class: "recipe-image-content" if r.images.attached? %>
                </div>
              <% end %>
            </div>
            <%# /list要素をリンク化%>
          </li>
        <% end %>
        <%= paginate @search_recipes %>
      </ul>
    </div>
    
  </div>
</div>