<%= render "shared/header"%>

<div class="recipe-post-form">
  <%= form_with model: @recipe, url:recipes_path, local: true do |f| %>
    <div class="recipe-post-text">
      レシピを投稿する
    </div>
    <div class= "post-content-text">
      レシピ名
    </div>
    <%= f.text_field :title, placeholder:"レシピ名" %>
    <%= f.text_area :content, placeholder: "レシピの説明" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {}) %>
    <%= f.file_field :images, multiple: true %>
    <div id="image-preview"></div>
    <%= f.text_field :material, placeholder:"材料名"%>
    <%= f.text_field :quantity, placeholder:"分量"%>
    <%= f.text_area :description, placeholder: "作り方" %>
    <%= f.submit "投稿する" %>
  <% end %>
</div>

<%= render "shared/footer" %>