<%= render "shared/header"%>

<div class="recipe-post-form">
  <%= form_with model: @recipe, url:recipes_path, local: true do |f| %>
    <div class="recipe-post-text">
      レシピを投稿する
    </div>
    <div class= "post-content-text">
      レシピ名
    </div>
    <%= f.text_field :title, placeholder:"レシピ名" %>
    <%= f.text_area :content, placeholder: "レシピの説明" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {}) %>
    <%= f.file_field :images, name:"recipe_ingredient[images][]", id: "recipe_images" %>
    <div id="image-preview"></div>
    <%= f.text_field :material, placeholder:"材料名"%>
    <%= f.text_field :quantity, placeholder:"分量"%>
    <%= f.text_area :description, placeholder: "作り方" %>
    <%= f.collection_check_boxes :nutrient_ids, Nutrient.all, :id, :nutrient_name do |n| %>
      <% n.label { n.check_box + n.text} %>
    <% end %>
    <%= f.text_field :tag_name, placeholder:"タグを登録してください。複数つけるには','で区切ってください。" %>
    <%= f.submit "投稿する" %>
  <% end %>
</div>

<div id="tags" data-tags="<%= @tags.to_json(only:[:tag_name]) %>"></div>

<%= render "shared/footer" %>