<%= render "shared/header"%>

<div class="recipe-post-form">
  <%= form_with model: @recipe, local: true do |f| %>
    <div class="recipe-post-text">
      レシピを投稿する
    </div>
    <div class= "post-content-text">
      レシピ名
    </div>
    <%= f.text_area :title, placeholder:"レシピ名" %>
    <%= f.text_field :content, placeholder: "レシピの説明" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {}) %>
    <%= f.file_field :images, multiple: true %>
    <%= f.submit "投稿する" %>


  <% end %>
</div>

<%= render "shared/footer" %>