<div class="lists">
  <div class="recipe-list-contents">
    <div class="recipe-text-contents">
      <h3 class="recipe-title">
        <%= @recipe.title %>
      </h3>
      <span class="recipe-user">
        <%= @recipe.user.nickname %>
      </span>
      <p>
        <%= @recipe.content %>
      </p>
    </div>
    <%= image_tag @recipe.images[0], class: "recipe-image-content" if @recipe.images.attached? %>
  </div>
  
  <div class="posted-comment"></div>
  <% @comments.each do |comment| %>
    <div class="comment-content"><%= comment.comment_content %></div>
  <% end %>

  <%= form_with(model: [@recipe,@comment], url: comments_path, method: :post, id: "comment-form")  do |c| %>
    <%= c.text_area :comment_content %>
    <%= c.hidden_field :recipe_id, value: @recipe.id %>
    <%= c.submit "コメントする", id: "comment-submit" %>
  <% end %>
</div>


<%= link_to "削除する", recipe_path(params[:id]), method: :delete %><br>
<%= link_to "削除する", recipe_path(params[:id]), method: :delete %><br>
<%= link_to "削除する", recipe_path(params[:id]), method: :delete %><br>
<%= link_to "削除する", recipe_path(params[:id]), method: :delete %>

<%= %>