<% if favorite_recipes.present? %>
  <ul class="recipe-lists jscroll">
    <% favorite_recipes.each do |r| %>
      <li>
        <%# list要素をリンク化%>
        <%= link_to recipe_path(r.id),class: "recipe-list" do %>
          <div class="recipe-list-contents">
            <div class="recipe-text-contents">
              <h2 class="recipe-title"><%= r.title %></h2>
              <p>登録タグ</p>
              <div class="recipe-tags">
                      <% r.tags.each do |t| %>
                      <span class="recipe-tag"><%= t.tag_name %></span>
                    <% end %>
              </div>
              <p>栄養</p>
              <div class="recipe-nutrients">
                <% r.nutrients.each do |n| %>
                  <span class="recipe-nutrient"><%= n.nutrient_name %></span>
                <% end %>
              </div>
                <div class="recipe-content"><%= r.content.truncate(100) %></div>
            </div>
            <%= image_tag r.images[0], class: "recipe-image-content" if r.images.attached? %>
          </div>
        <% end %>
        <%# /list要素をリンク化%>
      </li>
    <% end %>
    <%= paginate favorite_recipes %>
  </ul>
<% else %>
  <p>お気に入りしているレシピがありません</p>
<% end %>