<div class="header-content">
  <div class="header-logo">
    <%= link_to "Cook-Health", root_path %>
  </div>
  <div class="header-search">
    検索フォーム実装予定
  </div>
  <div class="recipe-post-btn">
    <%= link_to "レシピを投稿する", new_recipe_path, data:{"turbolinks" => false} %>
  </div>
  <div class="header-main-content">
    <div class="menu"> <!-- アコーディオンここから -->
      <a href="#" class="btn">Menu</a>
      <ul class="nav">
        <li><%= link_to "マイページ", user_path(current_user.id), data:{"turbolinks" => false} %></li>
        <li><%= link_to "ヘルプ", "" %></li>
      </ul>
    </div> 
    <%# ログイン/ログアウト機能,ユーザーメニュー実装予定 %>
    <ul class="user-session">
      <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
      <% end %>
    </ul>

  </div>
</div>