<!DOCTYPE html>
<html>
  <head>
    <title>CookHealth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    
  </head>

  <body>
    <%= render "shared/header" %>
     <div class="main-content">
        <div class="left-contents">
          <%= render "shared/complex_search" %>
        </div>
        <div class="center-contents">
          <%= yield %>
        </div>
      </div>
    <%= render "shared/footer" %>
  </body>
</html>
